body {
    margin: 0;
    height: 100vh;
    font-family: "Oswald", sans-serif;
}

.header {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 36px;
    font-weight: 500;
    margin: 29px 80px;
}

.navigation {
    font-size: 24px;
    font-weight: 300;
    margin: auto 0;
    display: flex;
    gap: 50px;
    padding: 0 80px;
}

main {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./assets/image 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 266px 0;
}

.take_your_time {
    width: 100%;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.brown {
    height: 10px;
    width: 80px;
    background-color: #817070;
    margin: 0 auto;
}

.story {
    padding: 60px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-top: 0;
}

.story_content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    box-sizing: border-box;
}

.story_text {
    font-size: 20px;
    font-weight: 300;
    align-content: center;
}

.blog {
    background-color: #EFEFEF;
    padding: 60px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.card {
    background-color: #FFFFFF;
    width: 365px;
    box-sizing: border-box;
    padding: 15px;
}

.card_title {
    font-size: 24px;
    font-weight: 400;
}

.card_img {
    width: 100%;
}

.card_text {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}

.contact {
    background-color: #817070;
    padding: 60px;
    color: #FFFFFF;
}


.contact_title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
}

.button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 28px;
    background-color: #817070;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
}

.button::placeholder {
    color: #FFFFFF;
    width: fit-content;
    text-align: center;
}

.button2 {
    background-color: #FFFFFF;
    width: fit-content;
    display: flex;
    justify-content: center;
    border: none;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    padding: 1px 25px;
    color: #817070;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button2:hover{
    background-color: #817070;
    color: #FFFFFF;
}

.button2::before{
    position: absolute;
}

.button2:active{
    color: red;
}

.footer {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 14px;
}

@media screen and (max-width: 1200px) {
    .blocks {
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    .story_content {
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }
    .navigation a{
        margin-right: 0;
    }

    .story_image {
        width: 125%;
    }
}