$border-color: #f8f9fa;

@mixin center {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header-wrapper {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px 30px;

    .header-link {
        align-self: center;
        font-size: 18px;
    }

    .sign-in-button {
        background-color: #0b57d0;
        color: white;
        padding: 10px 15px;
        border-radius: 15px;
        border: none;
        font-size: 18px;
    }

    .sign-in-button:hover {
        cursor: pointer;
    }
}

.main-wrapper {
    // display: flex;
    @include center();
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    padding: 100px 300px;
    gap: 30px;

    .google-image {
        width: 500px;
        align-self: center;
    }

    .input-wrapper {
        padding: 0 15px;
        border-radius: 15px;
        width: 500px;
        display: flex;
        flex-direction: row;
        /* background-color: lightgray; */
        /* justify-content: center; */
        border: 2px solid lightgrey;
        align-self: center;
        gap: 15px;

        .image {
            height: 20px;
            width: 20px;
            color: #9aa0a6;
            margin-top: 9px;
        }

        .main-input {
            width: 350px;
            /* align-self: center; */
            border-radius: 20px;
            padding: 10px 0 10px 0;
            border: none;
        }

        .main-input:focus {
            outline: none;
        }

        .tia-image {
            height: 11px;
            width: 19px;
            align-self: center;
        }
    }

    .button-wrapper {
        // display: flex;
        // justify-content: center;
        @include center();
        gap: 40px;

        .main-btn {
            border: 1px solid $border-color;
            padding: 10px;
            background-color: $border-color;
            color: #3c4043;
        }

        .main-btn:hover {
            border-color: grey;
        }
    }
}

footer {
    background-color: #f2f2f2;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;

    .country {
        padding: 10px 30px;
        font-size: 18px;
    }

    .last-footer {
        display: flex;
        flex-direction: column;

        .climate {
            // display: flex;
            // justify-content: center;
            @include center();
            align-content: center;
            gap: 10px;
        }

        .links {
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;

            .footer-sides {
                display: flex;
                gap: 20px;
                text-decoration: none;
            }
        }
    }
}